@media screen and (max-width: 980px) {
#outerWrapper {
	width: 95%;
}
#content {
	width: 60%;
	padding: 3% 4%;
}
#rightColumn1 {
	width: 30%;
}
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (orientation : portrait) {

#outerWrapper {
	width: 95%;
}
#content {
	width: 63%;
	padding: 3% 4%;
}
#rightColumn1 {
	width: 27%;
}
}
@media screen and (max-width: 650px) {
#header {
	height: auto;
}
#topNavigation {
	position: static;
}
#content {
	width: auto;
	float: none;
	margin: 20px 0;
}
#rightColumn1 {
	width:auto;
	float: none;
	margin: 0;
}
}
@media screen and (max-width: 480px) {
html {
	-webkit-text-size-adjust: none;
}
#outerWrapper #header {
	background: url('../images/tor-house-mobile-mh.jpg') no-repeat top;
	min-height: 95px;
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
}

#contentWrapper {
	clear: both;
	background: #FFFFFF url('images/mobile-bg.jpg') repeat-y;
}

#outerWrapper #topNavigation {
	height: 50px;
}

#topNavigation a {
	font-size: 90%;
	padding: 10px 8px;
}
#content {
	width: auto;
	float: none;
	margin: 0;
}
form fieldset {
	width: 240px;
}

}


