vti_encoding:SR|utf8-nl
vti_syncofs_www.frontpage-to-expression.com\:21/public_html/expression-web-tutorials:TW|19 Oct 2009 01:14:26 -0000
vti_syncofs_expression-web-tutorials.com\:21/public_html/expression-web-tutorials:TW|09 Mar 2010 22:24:11 -0000
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timelastmodified:TR|18 Aug 2015 21:53:48 -0000
vti_timecreated:TR|17 Dec 2014 19:35:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|dwt/taylor-syd.dwt moreAboutMe.html myTeam.html nextGames.html photoGallery.html academics.html index.html videoGallery.html
vti_nexttolasttimemodified:TW|18 Dec 2014 19:33:11 -0000
vti_cacheddtm:TX|18 Aug 2015 21:53:48 -0000
vti_filesize:IR|4527
vti_cachedlinkinfo:VX|S|../media/hockey_logo-full-blue.jpg S|../images/red-diamond.png S|../images/red-diamond.png
vti_cachedsvcrellinks:VX|NSUS|media/hockey_logo-full-blue.jpg NSUS|images/red-diamond.png NSUS|images/red-diamond.png
