<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Section Menu</title>
</head>

<body>

<h2>Other information</h2>
<ul class="menuside">
     <li><a href="../map.html" title="Menu Item">Location </a></li>
	<li><a href="../availability.html" title="Menu Item">Availability </a></li>
	<li><a href="../rates.html" title="Menu Item">Rates</a></li>
	<li><a href="../bookIt.html" title="Menu Item">Book your getaway</a></li>
	<li><a href="../amenities.html" title="Menu Item">Amenities </a></li>
	<li><a href="../checkin.html" title="Menu Item">Check-in / Check Out</a></li>
    <li><a href="../cottageRules.html" title="Menu Item">Cottage Rules</a></li>
	<li><a href="../cottageInventory.html" title="Menu Item">Cottage Inventory</a></li>
	<li><a href="../faq.html" title="Menu Item">FAQ</a></li>
	<li><a href="../contactUs.html" title="Menu Item">Contact Owner</a></li>
</ul>

</body>

</html>
