vti_encoding:SR|utf8-nl
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timelastmodified:TR|23 Dec 2014 15:47:13 -0000
vti_timecreated:TR|02 Jul 2014 22:31:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|99_miller/busRoute.html 99_miller/faq.html 99_miller/all.html 99_miller/dwt/site.dwt boat/index.html boat/faq.html boat/all.html 99_miller/map.html 99_miller/contactUs.html 99_miller/rentalApplication.html boat/map.html 99_miller/basement.html 99_miller/utilityListing.html 99_miller/utilityCosts.html 99_miller/leaseAgreement.html 99_miller/index.html 99_miller/floorPlan.html 99_miller/mainFloor.html 99_miller/commonAreas.html boat/contactUs.html
vti_nexttolasttimemodified:TR|23 Dec 2014 15:46:54 -0000
vti_cacheddtm:TX|29 Jul 2014 12:46:31 -0000
vti_filesize:IR|1277
vti_cachedlinkinfo:VX|S|../images/tor-house-mobile-mh.jpg S|images/mobile-bg.jpg
vti_cachedsvcrellinks:VX|NSUS|99_miller/images/tor-house-mobile-mh.jpg NSUS|99_miller/styles/images/mobile-bg.jpg
