vti_encoding:SR|utf8-nl
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timelastmodified:TR|19 Apr 2016 20:26:13 -0000
vti_timecreated:TR|02 Jul 2014 22:31:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|99_miller/all.html 99_miller/faq.html 99_miller/dwt/site.dwt 99_miller/busRoute.html boat/index.html boat/faq.html boat/all.html 99_miller/floorPlan.html 99_miller/mainFloor.html 99_miller/commonAreas.html boat/contactUs.html 99_miller/contactUs.html 99_miller/map.html 99_miller/rentalApplication.html boat/map.html 99_miller/utilityListing.html 99_miller/index.html 99_miller/basement.html 99_miller/leaseAgreement.html 99_miller/utilityCosts.html
vti_nexttolasttimemodified:TW|19 Apr 2016 20:26:08 -0000
vti_cacheddtm:TX|19 Apr 2016 20:26:13 -0000
vti_filesize:IR|10994
vti_cachedlinkinfo:VX|S|../images/case580k_for_sale.jpg S|../images/content-bg.jpg S|../images/form-bg.jpg
vti_cachedsvcrellinks:VX|FSUS|images/case580k_for_sale.jpg FSUS|images/content-bg.jpg FSUS|images/form-bg.jpg
