vti_encoding:SR|utf8-nl
vti_title:SR|Section Menu
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timelastmodified:TR|28 May 2015 18:33:01 -0000
vti_timecreated:TR|02 Jul 2014 22:31:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|99_miller/busRoute.html 99_miller/faq.html 99_miller/all.html 99_miller/dwt/site.dwt 99_miller/mainFloor.html 99_miller/floorPlan.html 99_miller/commonAreas.html boat/index.html boat/contactUs.html boat/faq.html boat/all.html 99_miller/rentalApplication.html 99_miller/map.html 99_miller/contactUs.html boat/map.html 99_miller/utilityCosts.html 99_miller/leaseAgreement.html 99_miller/basement.html 99_miller/utilityListing.html 99_miller/index.html
vti_nexttolasttimemodified:TW|26 Dec 2014 18:52:18 -0000
vti_cacheddtm:TX|28 May 2015 18:33:01 -0000
vti_filesize:IR|451
vti_cachedtitle:SR|Section Menu
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|../contactUs.html
vti_cachedsvcrellinks:VX|FHUS|boat/contactUs.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
