vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Sep 2014 18:07:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contactUs.html rates.html welcomePackage.html dwt/site.dwt all.html availability.html basement.html faq.html floorPlan.html mainFloor.html spare.html 2ndFloor.html index.html map.html outside.html amenities.html bookIt.html checkin.html cottageInventory.html cottageRules.html toys.html
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timecreated:TR|23 Sep 2014 18:07:15 -0000
vti_cacheddtm:TX|23 Sep 2014 18:07:15 -0000
vti_filesize:IR|1277
vti_cachedlinkinfo:VX|S|../images/tor-house-mobile-mh.jpg S|images/mobile-bg.jpg
vti_cachedsvcrellinks:VX|NSUS|images/tor-house-mobile-mh.jpg NSUS|styles/images/mobile-bg.jpg
