vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Apr 2016 20:31:55 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contactUs.html rates.html welcomePackage.html dwt/site.dwt all.html availability.html basement.html faq.html floorPlan.html mainFloor.html spare.html 2ndFloor.html index.html map.html outside.html amenities.html bookIt.html checkin.html cottageInventory.html cottageRules.html toys.html
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timecreated:TR|19 Apr 2016 20:31:55 -0000
vti_cacheddtm:TX|19 Apr 2016 20:31:55 -0000
vti_filesize:IR|10995
vti_cachedlinkinfo:VX|S|../images/front_yard_title.jpg S|../images/content-bg.jpg S|../images/form-bg.jpg
vti_cachedsvcrellinks:VX|FSUS|images/front_yard_title.jpg FSUS|images/content-bg.jpg FSUS|images/form-bg.jpg
