vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Jun 2015 20:26:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|contactUs.html rates.html welcomePackage.html dwt/site.dwt all.html availability.html basement.html faq.html floorPlan.html mainFloor.html spare.html 2ndFloor.html index.html map.html outside.html amenities.html bookIt.html checkin.html cottageInventory.html cottageRules.html toys.html
vti_author:SR|RIMNET\\rdavison
vti_modifiedby:SR|RIMNET\\rdavison
vti_timecreated:TR|03 Jun 2015 20:26:51 -0000
vti_cacheddtm:TX|03 Jun 2015 20:26:51 -0000
vti_filesize:IR|1118
vti_cachedtitle:SR|Section Menu
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|H|../map.html H|../availability.html H|../rates.html H|../bookIt.html H|../amenities.html H|../checkin.html H|../cottageRules.html H|../cottageInventory.html H|../faq.html H|../contactUs.html
vti_cachedsvcrellinks:VX|FHUS|map.html FHUS|availability.html FHUS|rates.html FHUS|bookIt.html FHUS|amenities.html FHUS|checkin.html FHUS|cottageRules.html FHUS|cottageInventory.html FHUS|faq.html FHUS|contactUs.html
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=utf-8
vti_charset:SR|utf-8
vti_title:SR|Section Menu
